/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply h-2.5 w-2.5 bg-current rounded-full bg-green-400 shadow-lg;
}

.input {
  @apply px-3 py-3 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full
}

.search {
  @apply pl-9 w-full py-2 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full
}

.btn {
  @apply mt-3 cursor-pointer block bg-secondary text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150
}